.information {
  padding: 20px 50px;
  font-size: 16px;
  text-align: justify;
}

.information .list {
  margin: 10px;
}

#about_us {
  margin: 30px;
  margin-top: calc(56px + 30px);
}

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 30px !important;
    text-align: center;
  }
}

div#recognitions {
  background: #1c1c1c;
  padding: 30px 20px;
  -webkit-transition: 175ms;
  transition: 175ms;
}

div#recognitions #timeline .times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#recognitions #timeline .times .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#recognitions #timeline .times .time label {
  color: white;
}

div#recognitions #timeline #dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0px;
}

div#recognitions #timeline #dates .date {
  -webkit-transition: 3ms;
  transition: 3ms;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

div#recognitions #timeline #dates .date.selected h4,
div#recognitions #timeline #dates .date:hover h4 {
  color: white !important;
}

div#recognitions #timeline #dates .date h4 {
  color: #2c8dce !important;
}

div#recognitions #timeline #dates .date a {
  cursor: pointer;
}

div#recognitions #timeline #events {
  margin: 20px auto;
}

div#recognitions #timeline #events .event {
  min-height: 350px;
  display: none;
  max-width: 800px;
  color: white;
  margin: 20px auto;
}

div#recognitions #timeline #events .event h3 {
  font-weight: normal !important;
}

div#recognitions #timeline #events .event.selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

div#recognitions #timeline .action {
  width: 100%;
  height: 40px;
  position: relative;
  text-align: center;
}

div#recognitions #timeline .action .next-date,
div#recognitions #timeline .action .prev-date {
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  height: 40px;
}

div#recognitions #timeline .action .next-date {
  position: absolute;
  right: 0;
}

div#what_we_do {
  margin: 30px;
}

div#what_we_do #what_we_do_images {
  margin: 10px 50px;
}

div#what_we_do #what_we_do_images img {
  text-align: center;
  margin: 0 auto;
}

div#affiliations {
  margin: 30px;
}

div#affiliations #affiliations_images {
  margin: 10px 50px;
}

div#affiliations #affiliations_images img {
  text-align: center;
  margin: 0 auto;
}

div#sponsors_partners {
  padding: 40px 30px;
}

div#sponsors_partners .column img.image {
  text-align: center;
  margin: 50px auto;
}

