# Log files
*.log

# Cache
.cache

# Desktop Services Store files
.DS_Store

# Node modules
node_modules

# yarn lock file
# yarn.lock

# Compiled files
dist
src/.temp

# Local env files
.env
.env.*

